@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="site.css">
<div class="container">
    <div class="upload_container">
        <div id="button">
            <form name="form" action="/uploadmultiple" enctype="multipart/form-data" method="post">
                <input id="" name="files" type="file" multiple onchange="fileupload('files');" />
            </form>
        </div>
    </div>
</div>




<script src="~/js/myjsfile.js"></script>